<% content_for :content do %>
  <h1>New entry</h1>

  <%= form_for(Entry.new, :method => :post, :html => {:class => "form"})  do |f| %>
    <%= render :partial => 'entries/form', :locals => {:f => f}%>
  <% end %>
  <%= link_to 'Back', entries_path %>
<% end %>
