.editable {
  height: 400px;
  resize: vertical;
  word-wrap:break-word;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.cke_button__fachtermini_label {
  color: blue;
  font-style: italic;
  font-size: 11px;
  display: inline;

}

.fachtermini {
  color: blue;
  font-style: italic;
  font-size: 11px;

}

.werktitel_original {
  font-style: italic;
  font-size: 11px;
}

.werktitel_fremdspr {
  color: purple;
  font-size: 11px;
  font-style: italic
}

.sonstiges {
  color: green;
  font-size: 11px;
  font-weight: bold;
}

.eigennamen {
  color: red;
  font-size: 11px;
}

.fragliche_stellen {
  text-decoration: underline;
  font-size: 11px;
}

